.movie {
  display: flex;
  align-items: flex-start;
  margin: 0.5rem;
  min-height: 18.5rem;
  max-height: fit-content;
}

.coverPhoto {
  display: flex;
  justify-content: center;
  width: 10rem;
  height: auto;
  border: 1px solid #800000;
}

.spanContent {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.scrollableInfo {
  overflow: -moz-hidden-unscrollable;
}

.spanImage {
  display: flex;
  align-items: baseline;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #800000;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 0.5rem;
}

.numberRating {
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  margin-top: 0;
  padding-bottom: 5px;
  border-bottom: 2px solid #800000;
}
