.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: #800000;
  color: white;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.authAction {
  position: fixed;
  top: 0.25rem;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

h1 {
  position: relative;
  padding: 0 3%;
}

.signUpButton {
  width: 7rem;
  margin-left: 0.75rem;
  justify-content: center;
}

.signInButton:hover,
.signUpButton:hover {
  cursor: pointer;
}

.signInButton {
  position: relative;
  width: 5.75rem;
  border-right: 1px solid whitesmoke;
}
